:root{
  // base
  --got-primary-color: #9166ff;

  // status
  --got-info-status-color: #4596ff;
  --got-warning-status-color: #ff934f;
  --got-success-status-color: #57bf7c;
  --got-error-status-color: #e75d5d;
  --got-default-status-color: #E1E1E1;

  // tag
  --got-error-bg:#fef0f0;
  --got-error-color:#a94442;
  --got-error-bd:#fde2e2;

  --got-warning-bg:#fdf6ec;
  --got-warning-color:#a76b11;
  --got-warning-bd:#faecd8;

  --got-info-bg:#d9edf7;
  --got-info-color:#0f56a0;
  --got-info-bd:#b5ddf1;

  --got-success-bg:#f0f9eb;
  --got-success-color:#225723;
  --got-success-bd:#dff0d8;

  --got-primary-bg:#e5dbff;
  --got-primary-color:#6d33ff;
  --got-primary-bd:#b699ff;

  --got-default-bg:rgba(0, 0, 0, 0.05);
  --got-default-color:rgba(0, 0, 0, 0.65);
  --got-default-bd:rgba(218, 218, 220, 0.6);
 

}